/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --main-bg-colour: hsl(217,54%,11%);
    --card-bg-colour: hsl(216,50%,16%);
    --soft-blue: hsl(215, 51%, 70%);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--main-bg-colour);
}
.icon {
    width: 20px !important;
    height: 25px !important;
}

.card {
    background-color: var(--card-bg-colour);
    height: 80vh;
    width: 20%;
    margin: 10vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "img img"
            "info info"
            "price-info time-info"
            "line-break line-break"
            "creator creator";
    grid-gap: 0;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
}

.card img {
    grid-area: img;
    width: 90%;
    height: 350px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
}
.card .info {
    grid-area: info;
}

.card h1 {
    color: hsl(0,0%,100%);
    font-weight: 600;
    font-size: 25px;
    margin: 0 0 0 25px;
}

.card p {
    color: var(--soft-blue);
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin: 15px 40px 0 20px;
}
.crypto {
    grid-area: price-info;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
            'icon' 'price' 'price';
    align-items: center;
}
.crypto img {
    grid-area: icon;
}
.crypto p {
    place-self: center;
    margin-left: 0;
}
.time {
    grid-area: time-info;
}